a {
    text-decoration: none!important;
}
.card {
    width: 20rem;
    margin-top: 2rem;
}

@media (max-width: 320px){
    .card {
        width: 8rem;
    }
    .card h2 {
        font-size: 20px!important;
    }
}

@media (min-width: 321px) and (max-width: 768px){
    .card {
        width: 10rem;
    }
    .card h2 {
        font-size: 25px!important;
    }
}
